{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-5 py-4">
    <h2 class="text-center mb-4">Lista de Clientes</h2>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'crear_cliente' %}" class="btn btn-primary">Crear Cliente</a>
        <button onclick="location.reload();" class="btn btn-secondary">Actualizar</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle text-center">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Número de Documento</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Número Factura</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.cedula }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellidos }}</td>
                    <td>{{ cliente.numero_factura }}</td>
                    <td>
                        <a href="{% url 'editar_cliente' cliente.pk %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_cliente' cliente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}