{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Editar Cliente</h2>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card p-4 shadow-sm">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        {{ form.as_p }}
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary w-48">Guardar</button>
                        <a href="{% url 'clientes_crud' %}" class="btn btn-outline-secondary w-48 text-right">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
