{% extends 'base.html' %}

{% block title %}Eliminar Premio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Eliminar Premio</h2>
    <div class="text-center mb-4">
        <p>¿Estás seguro de que deseas eliminar el premio <strong>{{ object.nombre }}</strong>?</p>
    </div>
    <div class="d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}
            <!-- Botones de acción -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-danger w-48">Eliminar</button>
                <a href="{% url 'premios_crud' %}" class="btn btn-outline-secondary w-48">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
