{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruleta</title>
    <link rel="stylesheet" href="{% static 'ruleta/styles.css' %}" />
  </head>
  <body>
    <!-- Token CSRF necesario -->
    <input
      type="hidden"
      id="csrf_token"
      name="csrfmiddlewaretoken"
      value="{{ csrf_token }}"
    />

    <!-- Overlay para bloquear interacción -->
    <div
      id="overlay"
      class="overlay {% if resultado %}mostrar{% else %}oculto{% endif %}"
    ></div>

    <!-- Botón para girar -->
    <button id="spin" {% if resultado %}disabled{% endif %}>Girar</button>

    <!-- Flecha -->
    <div class="arrow-container">
      <span class="arrow"></span>
    </div>

    <!-- Ruleta -->
    <div class="container">
      <div class="one">Gracias por participar</div>
      <div class="two">Bono $50,000</div>
      <div class="three">Gracias por participar</div>
      <div class="four">Bono $100,000</div>
      <div class="five">Gracias por participar</div>
      <div class="six">Bono $150,000</div>
      <div class="seven">Gracias por participar</div>
      <div class="eight">Bono $200,000</div>
    </div>

    <!-- Mensajes -->
    <div
      id="mensaje-premio"
      class="mensaje-premio {% if resultado and resultado != 'Gracias por participar' %}mostrar{% else %}oculto{% endif %}"
    >
      {% if resultado and resultado != "Gracias por participar" %} 🎉
      ¡Felicidades! Ganaste {{ resultado }} 🎉 {% endif %}
    </div>
    <div
      id="mensaje-sin-premio"
      class="mensaje-sin-premio {% if resultado == 'Gracias por participar' %}mostrar{% else %}oculto{% endif %}"
    >
      {% if resultado == "Gracias por participar" %} 😞 Gracias por participar,
      ¡mejor suerte la próxima vez! {% endif %}
    </div>

    <script>
      const resultadoUrl = "{% url 'guardar_resultado' %}";
    </script>
    <script src="{% static 'ruleta/script.js' %}"></script>
  </body>
</html>
